<link rel="stylesheet" href="/css/artista.css">

<div class="container">
    <h1><%= artista.nombreArtistico %></h1>

    <div style="text-align: center;">
        <img src="/img/<%= artista.imagen %>" alt="Imagen del artista" width="500" style="height: auto;">
      </div>

    <p>Nombre artístico: <%= artista.nombreArtistico %></p>
    <p>Nombre de nacimiento: <%= artista.nombre %></p>
    <p>Nacimiento: <%= artista.nacimiento %></p>
    <p>Género: <%= artista.genero %></p>
    <p>Canciones: <%= artista.canciones %></p>
    <p><%= artista.biografia %></p>

    <form action="/eventosArtistas/asistencias/<%= artista.id %>" method="GET" style="text-align: center; margin-top: 20px;">
      <button type="submit" style="padding: 10px 20px; font-size: 16px; cursor: pointer;">Próximos conciertos</button>
    </form>
</div>