<!--
    - Ver como puedo enviarle el id del evento (hecho)
    - Ver si puedo hacer que no se vean los artistas ya contratados para ese dia
    - Comprobar que los botones se quitan bien
    - Cambiar para que cuando sea modificar salga los contratados como contratados
    - Redirigir a esta pagina web -> debería hacer un viewContratar? es que no se como redirigir ahi con los datos de los eventos (hecho)
-->

<link rel="stylesheet" href="/css/contratar.css">

<h2>Artistas disponibles</h2>
<div class="artistas">
    <h2>Artistas Contratados</h2>
    <% if (artistasContratados && artistasContratados.length > 0) { %>
        <% artistasContratados.forEach(artista => { %>
            <div class="artista">
                <img src="/img/<%= artista.imagen %>" alt="Imagen del artista" width="200" height="auto">
                <div class="artista-info">
                    <h3 class="artista-nombre"><%= artista.nombreArtistico %></h3>
                    <p class="artista-genero">Género: <%= artista.genero %></p>
                    <p class=""artista-canciones">Canciones: <%= artista.canciones %></p>
                    <form action="/eventosArtistas/eliminar" method="POST" style="display: inline;">
                        <input type="hidden" name="id_evento" value="<%=locals.idEvento%>">
                        <input type="hidden" name="id_artista" value="<%= artista.id %>">
                        <button type="submit">Eliminar</button>
                    </form>
                </div>
            </div>
        <% }) %>
    <% } else { %>
        <div>
            <p>No hay artistas contratados aún.</p>
        </div>
    <% } %>

    <h2>Contratar Nuevo Artista</h2>
    <% if (artistas && artistas.length > 0) { %>
        <% artistas.forEach(artista => { %>
            <div class="artista">
                <img src="/img/<%= artista.imagen %>" alt="Imagen del artista" width="200" height="auto">
                <div class="artista-info">
                    <h3 class="artista-nombre"><%= artista.nombreArtistico %></h3>
                    <p class="artista-genero">Género: <%= artista.genero %></p>
                    <p class=""artista-canciones">Canciones: <%= artista.canciones %></p>
                    <form action="/eventosArtistas/agregar" method="POST" style="display: inline;">
                        <input type="hidden" name="id_evento" value="<%=locals.idEvento%>">
                        <input type="hidden" name="id_artista" value="<%= artista.id %>">
                        <button type="submit">Contratar</button>
                    </form>
                </div>
            </div>
        <% }) %>
    <% } else { %>
        <div>
            <p>No hay artistas disponibles para contratar.</p>
        </div>
    <% } %>


</div>

<div style="text-align: center; margin-top: 40px;">
    <button style="padding: 10px 20px; font-size: 16px; cursor: pointer;" onclick="window.location.href='/'">Finalizar</button>
</div>