    <link rel="stylesheet" href="/css/saber_mas.css">
    <div class="container">
        <h1>
            <%= evento.nombre %>
        </h1>
    
        <div class="image-container">
            <img src="/img/<%= evento.imagen %>" alt="Imagen del evento" width="300" height="auto">
        </div>
    
    
        <p>Descripción: <%= evento.descripcion %>
        </p>
        <p>Fecha: <%= evento.fecha %>
        </p>
        <p>Lugar: <%= evento.lugar %>
        </p>
        <p>Precio: <%= evento.precio %>€</p>
        <p>Edad minima: <%=evento.edad_minima %></p>
        </p>
        <%if(session && (session.esAdmin || session.esEmpresa)){%>
            <p>Aforo: <%= evento.entradas_vendidas %> / <%= evento.aforo_maximo %></p>
        <% } else if ((evento.aforo_maximo - evento.entradas_vendidas) < (evento.aforo_maximo * 0.9)) { %>
            <p class="advertencia">¡Quedan pocas entradas!</p>
        <% } %>

        <form action="/eventosArtistas/cartelera/<%= evento.id %>" method="GET" style="text-align: center; margin-top: 20px;">
            <button type="submit" style="padding: 10px 20px; font-size: 16px; cursor: pointer;">Artistas</button>
        </form>

        <form action="/carrito/agregar" method="POST">
            <input type="hidden" name="id_evento" value="<%= evento.id %>">
            <input type="hidden" name="precio" value="<%= evento.precio %>">
            <% if (evento.entradas_vendidas >= evento.aforo_maximo) { %>
                <p class="error">No hay entradas disponibles para este evento.</p>
            <% } else if (userAge !== null && userAge < evento.edad_minima) { %>
                <p style="color:red">
                  Edad mínima: <%= evento.edad_minima %> – tú tienes <%= userAge %>
                </p>
                <button disabled>No puedes comprar</button>
            <% } else { %>
                <button type="submit">
                        Añadir al carrito
                </button>
            <% } %>
        </form>
    </div>

