
    <div class="container">
        <h1>
            <%= evento.nombre %>
        </h1>
    
        <div class="image-container">
            <img src="/img/<%= evento.imagen %>" alt="Imagen del evento">
        </div>
    
    
        <p>Descripción: <%= evento.descripcion %>
        </p>
        <p>Fecha: <%= evento.fecha %>
        </p>
        <p>Lugar: <%= evento.lugar %>
        </p>
        <p>Precio: <%= evento.precio %>€</p>
        <p>Aforo: <%= evento.entradas_vendidas %> / <%= evento.aforo_maximo %>
        </p>
        <form action="/carrito/agregar" method="POST">
            <input type="hidden" name="id_evento" value="<%= evento.id %>">
            <input type="hidden" name="precio" value="<%= evento.precio %>">
            <% if (evento.entradas_vendidas >= evento.aforo_maximo) { %>
                <p class="error">No hay entradas disponibles para este evento.</p>
            <% } else { %>
                <button type="submit">
                        Añadir al carrito
                </button>
            <% } %>
        </form>
    </div>

