<h1><%= evento.nombre %></h1>
<p><%= evento.descripcion %></p>
<p>Fecha: <%= evento.fecha %></p>
<p>Lugar: <%= evento.lugar %></p>
<p>Precio: <%= evento.precio %>€</p>
<p>Aforo: <%= evento.entradas_vendidas %> / <%= evento.aforo_maximo %></p>
<form action="/carrito/agregar" method="POST">
    <input type="hidden" name="id" value="<%= evento.id %>">
    <button type="submit">Añadir al carrito</button>
</form>

<!--<form action="/eventos/<%= evento.id %>/comprar" method="POST">
    <button type="submit" <% if (evento.entradas_vendidas >= evento.aforo_maximo) { %> disabled <% } %>>
        Comprar Entrada
    </button>
</form>-->