<main>
    <h2>Próximos Eventos</h2>
    <div class="eventos">
        <% eventos.forEach(evento => {
            <div class="evento">
                <img src="<%= evento.imagen %>" alt ="Imagen de <%= evento.titulo %>">
                <h3><%= evento.nombre %></h3>
                <p><%= evento.fecha%> - <%= evento.lugar%> <%= eventos.precio%></p>
                <a href ="/vistas/paginas/eventos.ejs<%= evento.id%>">Ver mas</a>
            </div>
        })
    </div>
</main>
