<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
    <link rel="stylesheet" href="/css/buscar.css"> <!-- Asegúrate de que la ruta sea correcta -->
</head>
<body>
    <h2>Próximos Eventos</h2>
    <div class="eventos">
        <% if (eventos.length > 0) { %>
            <% eventos.forEach(evento => { %>
                <div class="evento">
                    <img src="/img/<%= evento.imagen %>" alt="<%= evento.nombre %>" class="evento-img">
                    <div class="evento-info">
                        <h3 class="evento-titulo"><%= evento.nombre %></h3>
                        <p class="evento-descripcion"><%= evento.descripcion %></p>
                        <p class="evento-fecha">Fecha: <%= evento.fecha %></p>
                        <a href="/eventos/<%= evento.id %>" class="evento-boton">Saber más</a>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <p>No se encontraron eventos.</p>
        <% } %>
    </div>
</body>
</html>
