<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('./partials/head.ejs') %>
</head>

<body>
 <div id="contenedor">
 
  <%- include('./partials/cabecera.ejs', { session: locals.session, esInicio: typeof esInicio !== 'undefined' ? esInicio : false }) %>
  <%- include('./partials/sidebarIzq.ejs', { session: locals.session})%>
  <!--, { session: locals.session, esInicio: typeof esInicio !== 'undefined' ? esInicio : false })  -->


  <main>
    <article>
      <%- include(contenido, { 
        session: typeof session !== 'undefined' ? session : null,
        usuario: typeof usuario !== 'undefined' ? usuario : null,
        descuentos: typeof descuentos !== 'undefined' ? descuentos : null,
        error: typeof error !== 'undefined' ? error : null,
        evento:  typeof evento  !== 'undefined'    ? evento     : null,
       userAge: typeof userAge !== 'undefined'    ? userAge    : null
    }) %>
    </article>
  </main>

  <%- include('./partials/pie.ejs') %>
</div> <!-- Fin del contenedor -->

</body>
</html>
